### Zig ###
.zig-cache
.zig-global-cache
.zig-local-cache
zig-out

### Common ###
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/

### Docs build ###
/procz.o
/procz.obj
/procz.lib

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
